@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

//fonts
$balasamiq-sans: 'Balsamiq Sans', cursive;
$baloo-thambi-2: 'Baloo Thambi 2', cursive;
$SoraAll: 'Sora', sans-serif;

//colors
//example3


$green_1d5: #c1d072;
$green_2d5: #8ba34e;
$green_3d5: #80b32f;
$green_4d5: #317b33;
$green_5d5: #024733;


$red_1d3: #ff8f78;
$red_2d3: #ff7448;
$red_3d3: #fe6233;

$blue_1d3: #86efff;
$blue_2d3: #11dbfc;
$blue_3d3: #2ba8ce;

$yellow_1d3: #ffda81;
$yellow_1d3: #ffc654;
$yellow_1d3: #faa729;

$gray_1d2: #e7eade;
$gray_2d2: #749484;